<component-filterbar></component-filterbar>

<div class="container">
    <ul class="row">
        <li *ngFor="let movie of filteredMovies" class="col-lg-4 col-md-6 col-sm-6 col-12">
            <a routerLink="/movies/{{movie.id}}">
                <div class="movie-wrapper">
                    <div class="titlebar">
                        <div class="row">
                            <h3 class="col-12 title">{{ (movie.title.length>20)? (movie.title | slice:0:20)+'...':(movie.title) }}
                                <span class="float-right">{{movie.vote_average}} <i class="fa fa-star" aria-hidden="true"></i></span>
                            </h3>  
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span class="float-left"><i class="fa fa-calendar" aria-hidden="true"></i> <span>{{movie.release_date | date:'yyyy' }}</span></span>              
                                <span class="float-right">{{ (getGenreNameByIds(movie.genre_ids).length>20)? (getGenreNameByIds(movie.genre_ids) | slice:0:20)+'...':(getGenreNameByIds(movie.genre_ids)) }}</span>
                            </div>      
                        </div>
                    </div>
                    <div class="image-container" [style.background-image]="getBackground(movie.backdrop_path)">
                        
                    </div>
                    <div class="description">
                        <p>{{ (movie.overview.length>150)? (movie.overview | slice:0:150)+'...':(movie.overview) }}</p>
                    </div>
                    <div class="more-info text-right">
                        <span>More Info</span>
                    </div>
                </div>
            </a>
        </li>
    </ul>
</div>