
<div id="MovieBackground" *ngIf="movie" [style.background-image]="getBackground(movie.backdrop_path)">
    <div class="custom-background">
        <div class="container inner-data">
            <div class="row">
                <div class="col-md-4 col-sm-5">
                    <img class="hidden-xs-down" src="http://image.tmdb.org/t/p/w342{{movie.poster_path}}" >
                    <img class="hidden-sm-up" src="http://image.tmdb.org/t/p/w500{{movie.backdrop_path}}" >
                </div>
                <div class="col-md-8 col-sm-7">
                    <h3 class="white">{{movie.title}} <i class="fa fa-star-half float-right" aria-hidden="true"> {{movie.vote_average}}</i></h3>
                    <p class="white font-small">{{movie.release_date | date:'dd MMM yyyy'}}</p>
                    <h5 class="white">Overview</h5>
                    <p class="white">{{movie.overview}}</p>
                </div>

            </div>
        </div>
    </div>
</div>